main {
    background-color: var(--clr-white);
    border-radius: 1rem;
    padding: 0.5rem;
}

.form-card {
    display: flex;
    gap: clamp(2rem, 4.5vw, 5rem);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.5rem;
    height: 28rem;
    width: 28rem;
    margin-right: clamp(1rem, 5vw, 2rem);
}

.form-main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.input-fields>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.form-heading {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.input-fields label {
    font-size: var(--fs-100);
    color: var(--clr-marine-blue);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons>button:first-child {
    color: var(--clr-cool-gray);
    border-radius: 0.4rem;
    padding-block: 0.8rem;
    padding-inline: 1.1rem;
    align-self: end;
    font-weight: var(--fw-500);
}

.form-buttons>button:first-child[data-visible="false"]
{
    visibility: hidden;
}

.form-buttons>button:first-child[data-visible="true"] 
{
    visibility: visible;
}

.form-buttons>button:last-child {
    color: var(--clr-white);
    background-color: var(--clr-marine-blue);
    border-radius: 0.4rem;
    padding-block: 0.8rem;
    width: 6rem;
    align-self: end;
    font-weight: var(--fw-500);
}


.steps {
    background: url('/images/bg-sidebar-desktop.svg');
    border-radius: 0.7rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.steps>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.steps>div>div:first-child {
    background-color: transparent;
    border: 1px solid var(--clr-white);
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    font-weight: var(--fw-700);
}

.steps>div>div:first-child[data-selected="true"] {
    background-color: var(--clr-light-blue);
    border: 1px solid transparent;
    color: var(--clr-marine-blue);
}

.steps>div>div:last-child {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.steps h2 {
    font-size: var(--fs-100);
}

.steps h3 {
    font-size: var(--fs-150);
    color: var(--clr-magnolia);
}

.thanks
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding:2rem ;
}

.thanks h2
{
    font-size: var(--fs-350);
    font-weight: var(--fw-700);
    color: var(--clr-marine-blue);
}

.thanks p
{
    color: var(--clr-cool-gray);
}

.thanks img
{
    width: 4rem;
}

@media (max-width: 51rem) {
    main {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        height: 100vh;
    }

    .form-buttons {
        background-color: var(--clr-white);
        padding: 1rem;
    }

    .steps {
        flex-direction: row;
        height: 12rem;
        justify-content: center;
    }

    .steps>div>div:last-child {
        display: none;
    }

    .steps>div {
        align-items: start;
        padding-top: 2rem;
    }


    .form-main-content,.thanks {
        position: relative;
        top: -5.55rem;
        background-color: var(--clr-white);
        padding: 1.3rem;
        border-radius: 0.8rem;
        margin: 1rem;
    }

 
    .form-card {
        display: grid;
        grid-template-rows: 12rem auto;
        gap: 0;
        height: 100vh;

    }

    .form {
        padding: 0;
        gap: 0;
        height: auto;
        width: auto;
        margin: 0;
    }

    .steps {
        background: url('/images/bg-sidebar-mobile.svg');
        padding: 0;
        border-radius: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
}